<html>
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      var testDataSampleId = -1;
      $.ajax({
              type: "GET",
              url: '/testData',
              success: function(response){
                  console.log(response);
                  //alert(response);
                  //downString = response.downloadString;
                  $("#actualRating").text(response.actualRating);
                  $("#uid").text(response.userId);
                  $("#bid").text(response.businessId);
                  $("#review").text(response.reviewFull);
                  testDataSampleId = response.testDataSampleId;
                  //$("#sampleid").val(test['testDataSampleId']);
              }
          });

          var predict = function(){
            //alert("Predicting.."+testDataSampleId)
            $.ajax({
              type: "GET",
              url: '/predictTestData/'+testDataSampleId,
              success: function(response){
                  console.log(response);
                  //alert(response);
                  //downString = response.downloadString;
                  $("#prediction").text(JSON.stringify(response.predictedRating));

                  //$("#sampleid").val(test['testDataSampleId']);
              }
          });
          }
    </script>
  </head>
  <body>
    <table style="border:4px;">
      <tr>
        <td>UserID</td>
        <td><span id="uid"></span></td>
      </tr>
      <tr>
        <td>Business ID</td>
        <td><span id="bid"></span></td>
      </tr>
      <tr>
        <td>Actual Rating</td>
        <td><span id="actualRating"></span></td>
      </tr>
      <tr>
        <td>Review</td>
        <td><span id="review"></span></td>
      </tr>
        <tr>
          <td><button onclick="predict()">Predict</button></td>
        </tr>
        <td></td>
      </tr>
    </table>
    <table>
        <tr>
          <td>Prediction</td>
          <td><span id="prediction"></span></td>
        </tr>
      </table>
  </body>
</html>
